# Tarea Nro. 2 - PANDAS

- Nombre y Apellido: Cristian Gaona
- Fecha:             17/11/2020

En esta tarea se examinara datos de terremotos. Comience importando pandas, numpy y matplolib.

Los datos de los terremotos están localizados en usgs_terremotos_2014.csv. Ni siquiera necesita descargalo, puede abrilo directamente con Pandas.

A continuación resuelva los siguientes items.

### 1) Use la función read_csv de Pandas directamente en esta url para abrirla como un DataFrame

(No use ninguna opción especial). Mostrar las primeras filas y la información del marco de datos.
Debería haber visto que las fechas no se analizaron automáticamente en tipos de fecha y hora.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import us

df_earthquake = pd.read_csv('usgs_terremotos_2014.csv')
df_earthquake.head()

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,net,id,updated,place,type
0,2014-01-31 23:53:37.000,60.252000,-152.7081,90.20,1.10,ml,NaN,NaN,NaN,0.2900,ak,ak11155107,2014-02-05T19:34:41.515Z,"26km S of Redoubt Volcano, Alaska",earthquake
1,2014-01-31 23:48:35.452,37.070300,-115.1309,0.00,1.33,ml,4.0,171.43,0.34200,0.0247,nn,nn00436847,2014-02-01T01:35:09.000Z,"32km S of Alamo, Nevada",earthquake
2,2014-01-31 23:47:24.000,64.671700,-149.2528,7.10,1.30,ml,NaN,NaN,NaN,1.0000,ak,ak11151142,2014-02-01T00:03:53.010Z,"12km NNW of North Nenana, Alaska",earthquake
3,2014-01-31 23:30:54.000,63.188700,-148.9575,96.50,0.80,ml,NaN,NaN,NaN,1.0700,ak,ak11151135,2014-01-31T23:41:25.007Z,"22km S of Cantwell, Alaska",earthquake
4,2014-01-31 23:30:52.210,32.616833,-115.6925,10.59,1.34,ml,6.0,285.00,0.04321,0.2000,ci,ci37171541,2014-02-01T00:13:20.107Z,"10km WNW of Progreso, Mexico",earthquake

### 2) Vuelva a leer los datos de tal manera que todas las columnas de fechas se identifiquen como fechas y la identificación del terremoto se use como índice

In [2]:
earthquake = pd.read_csv('usgs_terremotos_2014.csv', parse_dates=['time','updated'], index_col='id', sep=',', na_values='')
earthquake

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,net,updated,place,type
id,,,,,,,,,,,,,,
ak11155107,2014-01-31 23:53:37.000,60.252000,-152.708100,90.20,1.10,ml,NaN,NaN,NaN,0.2900,ak,2014-02-05 19:34:41.515000+00:00,"26km S of Redoubt Volcano, Alaska",earthquake
nn00436847,2014-01-31 23:48:35.452,37.070300,-115.130900,0.00,1.33,ml,4.0,171.43,0.342000,0.0247,nn,2014-02-01 01:35:09+00:00,"32km S of Alamo, Nevada",earthquake
ak11151142,2014-01-31 23:47:24.000,64.671700,-149.252800,7.10,1.30,ml,NaN,NaN,NaN,1.0000,ak,2014-02-01 00:03:53.010000+00:00,"12km NNW of North Nenana, Alaska",earthquake
ak11151135,2014-01-31 23:30:54.000,63.188700,-148.957500,96.50,0.80,ml,NaN,NaN,NaN,1.0700,ak,2014-01-31 23:41:25.007000+00:00,"22km S of Cantwell, Alaska",earthquake
ci37171541,2014-01-31 23:30:52.210,32.616833,-115.692500,10.59,1.34,ml,6.0,285.00,0.043210,0.2000,ci,2014-02-01 00:13:20.107000+00:00,"10km WNW of Progreso, Mexico",earthquake
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ak11453391,2014-12-01 00:10:16.000,60.963900,-146.762900,14.80,3.80,ml,NaN,NaN,NaN,0.6900,ak,2015-03-24 18:25:07.628000+00:00,"29km SW of Valdez, Alaska",earthquake
ak11453395,2014-12-01 00:09:39.000,58.869100,-154.415900,108.40,2.40,ml,NaN,NaN,NaN,0.6700,ak,2014-12-10 01:04:25.209000+00:00,"102km SSE of Old Iliamna, Alaska",earthquake
nc72358451,2014-12-01 00:09:25.350,38.843498,-122.825836,2.37,0.43,md,8.0,107.00,0.008991,0.0300,nc,2014-12-01 01:15:02.814000+00:00,"9km WNW of Cobb, California",earthquake
ak11453390,2014-12-01 00:05:54.000,65.152100,-148.992000,9.50,0.40,ml,NaN,NaN,NaN,0.6900,ak,2014-12-10 01:03:01.225000+00:00,"57km NW of Ester, Alaska",earthquake
ak11453389,2014-12-01 00:04:05.000,60.227200,-147.024500,2.50,1.60,ml,NaN,NaN,NaN,0.7300,ak,2014-12-09 02:04:46.894000+00:00,"78km WSW of Cordova, Alaska",earthquake

### 3) Obtener las estadísticas básicas de todas las columnas

In [3]:

earthquake.describe()

,latitude,longitude,depth,mag,nst,gap,dmin,rms
count,120108.000000,120108.000000,120107.000000,120065.000000,59688.000000,94935.000000,85682.000000,119716.000000
mean,38.399579,-99.961402,28.375029,1.793958,17.878284,124.048978,0.893198,0.358174
std,21.938258,82.996858,62.215416,1.343466,14.911369,68.518595,2.903966,0.364046
min,-73.462000,-179.998900,-9.900000,-0.970000,0.000000,9.000000,0.000000,0.000000
25%,34.228917,-147.742025,4.100000,0.820000,8.000000,74.000000,0.020760,0.070000
50%,38.805300,-120.832000,9.200000,1.400000,14.000000,107.000000,0.073670,0.200000
75%,53.889500,-116.068100,22.880000,2.400000,22.000000,155.000000,0.447000,0.590000
max,86.651400,179.998000,697.360000,8.200000,365.000000,356.400000,64.498000,8.460000

### 4) Obtener los 20 terremotos más importantes por magnitud

Examina la estructura de la columna `place`. La información del país parece estar allí. ¿Cómo lo sacarías?

In [4]:
earthquake.sort_values(by="mag", ascending=False).head(20)

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,net,updated,place,type
id,,,,,,,,,,,,,,
usc000nzvd,2014-04-01 23:46:47.260,-19.6097,-70.7691,25.00,8.2,mww,NaN,23.0,0.609,0.66,us,2015-07-30 16:24:51.223000+00:00,"94km NW of Iquique, Chile",earthquake
usc000rki5,2014-06-23 20:53:09.700,51.8486,178.7352,109.00,7.9,mww,NaN,22.0,0.133,0.71,us,2015-04-18 21:54:08.699000+00:00,"19km SE of Little Sitkin Island, Alaska",earthquake
usc000p27i,2014-04-03 02:43:13.110,-20.5709,-70.4931,22.40,7.7,mww,NaN,44.0,1.029,0.82,us,2015-06-06 07:31:05.755000+00:00,"53km SW of Iquique, Chile",earthquake
usc000phx5,2014-04-12 20:14:39.300,-11.2701,162.1481,22.56,7.6,mww,NaN,13.0,2.828,0.71,us,2015-04-18 21:54:27.398000+00:00,"93km SSE of Kirakira, Solomon Islands",earthquake
usb000pr89,2014-04-19 13:28:00.810,-6.7547,155.0241,43.37,7.5,mww,NaN,16.0,3.820,1.25,us,2015-04-18 21:54:18.633000+00:00,"70km SW of Panguna, Papua New Guinea",earthquake
usc000piqj,2014-04-13 12:36:19.230,-11.4633,162.0511,39.00,7.4,mww,NaN,17.0,2.885,1.00,us,2015-08-13 19:29:13.018000+00:00,"112km S of Kirakira, Solomon Islands",earthquake
usb000slwn,2014-10-14 03:51:34.460,12.5262,-88.1225,40.00,7.3,mww,NaN,18.0,1.078,0.70,us,2015-08-13 19:35:02.679000+00:00,"74km S of Intipuca, El Salvador",earthquake
usb000pq41,2014-04-18 14:27:24.920,17.3970,-100.9723,24.00,7.2,mww,NaN,46.0,2.250,1.20,us,2015-08-13 19:30:39.599000+00:00,"33km ESE of Petatlan, Mexico",earthquake
usc000pft9,2014-04-11 07:07:23.130,-6.5858,155.0485,60.53,7.1,mww,NaN,21.0,3.729,0.88,us,2014-07-01 02:37:56+00:00,"56km WSW of Panguna, Papua New Guinea",earthquake
usc000sxh8,2014-11-15 02:31:41.720,1.8929,126.5217,45.00,7.1,mww,NaN,18.0,1.397,0.71,us,2015-03-20 18:42:02.735000+00:00,"154km NW of Kota Ternate, Indonesia",earthquake
usc000stdc,2014-11-01 18:57:22.380,-19.6903,-177.7587,434.00,7.1,mww,NaN,13.0,4.415,0.84,us,2015-01-20 09:03:09.040000+00:00,"144km NE of Ndoi Island, Fiji",earthquake
usb000sk6k,2014-10-09 02:14:31.440,-32.1082,-110.8112,16.54,7.0,mww,NaN,22.0,5.127,0.43,us,2015-08-13 19:31:44.129000+00:00,Southern East Pacific Rise,earthquake
usc000rngj,2014-06-29 07:52:55.170,-55.4703,-28.3669,8.00,6.9,mww,NaN,25.0,4.838,0.76,us,2014-09-26 11:49:45+00:00,"154km NNW of Visokoi Island,",earthquake
usb000rzki,2014-08-03 00:22:03.680,0.8295,146.1688,13.00,6.9,mww,NaN,12.0,6.393,0.93,us,2014-10-29 19:52:55+00:00,Federated States of Micronesia region,earthquake
usc000rkg5,2014-06-23 19:19:15.940,-29.9772,-177.7247,20.00,6.9,mww,NaN,35.0,0.751,0.99,us,2014-09-19 17:23:16+00:00,"80km SSE of Raoul Island, New Zealand",earthquake
usc000mnvj,2014-02-12 09:19:49.060,35.9053,82.5864,10.00,6.9,mww,NaN,18.0,7.496,0.83,us,2015-01-30 23:03:45.902000+00:00,"272km ESE of Hotan, China",earthquake
usb000ruzk,2014-07-21 14:54:41.000,-19.8015,-178.4001,615.42,6.9,mww,NaN,15.0,3.934,0.96,us,2014-10-17 21:12:13+00:00,"99km NNE of Ndoi Island, Fiji",earthquake
usc000nzwm,2014-04-01 23:57:58.790,-19.8927,-70.9455,28.42,6.9,mww,NaN,119.0,0.828,0.93,us,2014-05-29 23:32:13+00:00,"91km WNW of Iquique, Chile",earthquake
usb000r2hc,2014-05-24 09:25:02.440,40.2893,25.3889,6.43,6.9,mww,NaN,25.0,0.402,0.67,us,2015-01-28 09:17:17.266000+00:00,"22km SSW of Kamariotissa, Greece",earthquake
usc000rr6a,2014-07-07 11:23:54.780,14.7240,-92.4614,53.00,6.9,mww,NaN,51.0,0.263,1.38,us,2015-01-28 13:08:13.282000+00:00,"4km W of Puerto Madero, Mexico",earthquake

### 5) Extraiga el país utilizando las funciones de datos de texto de Pandas 

Agréguelo como una nueva columna al dataframe. (¿Es realmente solo un país? No, algunas filas tienen el nombre de un estado de EE. UU.) Corrija esto https://www.geeksforgeeks.org/python-pandas-working-with-text-data/. 

Otra librería que puede ser útil https://pypi.org/project/us/ para identificar si es un estado de EEUU es `us`

In [5]:
df_pais = earthquake["place"].str.split(', ',expand=True)
#df_pais.columns = ['hoal', 'hola1', 'hola3', 'hola4', 'hola5']
#earthquake = pd.concat([earthquake, df_pais], axis=1)
#earthquake
df_pais.head(100)

                                      0           1     2     3     4
id
ak11155107    26km S of Redoubt Volcano      Alaska  None  None  None
nn00436847              32km S of Alamo      Nevada  None  None  None
ak11151142     12km NNW of North Nenana      Alaska  None  None  None
ak11151135           22km S of Cantwell      Alaska  None  None  None
ci37171541         10km WNW of Progreso      Mexico  None  None  None
...                                 ...         ...   ...   ...   ...
usc000mhw6         80km SSE of Unalaska      Alaska  None  None  None
ak11155071       59km W of Anchor Point      Alaska  None  None  None
ak11150944  68km SSW of Redoubt Volcano      Alaska  None  None  None
nc72153181           27km NE of Soledad  California  None  None  None
nc72153176         24km WSW of Coalinga  California  None  None  None

[100 rows x 5 columns]

In [7]:
!pip install us

Collecting us
  Downloading us-2.0.2.tar.gz (14 kB)
Collecting jellyfish==0.6.1
  Downloading jellyfish-0.6.1.tar.gz (132 kB)
Building wheels for collected packages: us, jellyfish
  Building wheel for us (setup.py): started
  Building wheel for us (setup.py): finished with status 'done'
  Created wheel for us: filename=us-2.0.2-py3-none-any.whl size=11931 sha256=45493a0f5ce72b9469a94f442f99d1d84e7b3c924021126569e1d4ec58825bb0
  Stored in directory: c:\users\usuario\appdata\local\pip\cache\wheels\07\4c\fa\a65ed0f9c00360e785327fc370eba55ca575cc3508ab13ed8e
  Building wheel for jellyfish (setup.py): started
  Building wheel for jellyfish (setup.py): finished with status 'done'
  Created wheel for jellyfish: filename=jellyfish-0.6.1-py3-none-any.whl size=10386 sha256=f515b1781b52acb56ee1dcd465f1e315382fa01a363a5ffed3e6dca5b0f072d1
  Stored in directory: c:\users\usuario\appdata\local\pip\cache\wheels\aa\a9\a6\359d736dbeda356e6ab8a7ff70a3db636cefe91df7d09f63dc
Successfully built us jellyfish
Installing collected packages: jellyfish, us
Successfully installed jellyfish-0.6.1 us-2.0.2

### 6) Encuentra los 10 países con el mayor número de terremotos

### 7) Encuentra los 10 principales países donde ocurrieron los terremotos más fuertes y más débiles

### 8) Cree un conjunto de datos filtrado que solo tenga terremotos de magnitud 4 o mayores

In [6]:
set_mag4 = earthquake.query('mag >= 4')
set_mag4
#by="mag",

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,net,updated,place,type
id,,,,,,,,,,,,,,
usc000mqlp,2014-01-31 23:08:03.660,-4.9758,153.9466,110.18,4.2,mb,NaN,98.0,1.940,0.61,us,2014-04-08 01:43:19+00:00,"115km ESE of Taron, Papua New Guinea",earthquake
usc000mqln,2014-01-31 22:54:32.970,-28.1775,-177.9058,95.84,4.3,mb,NaN,104.0,1.063,1.14,us,2014-04-08 01:43:19+00:00,"120km N of Raoul Island, New Zealand",earthquake
usc000mqls,2014-01-31 22:49:49.740,-23.1192,179.1174,528.34,4.4,mb,NaN,80.0,5.439,0.95,us,2014-04-08 01:43:19+00:00,South of the Fiji Islands,earthquake
usc000mf1x,2014-01-31 22:19:44.330,51.1569,-178.0910,37.50,4.2,mb,NaN,NaN,NaN,0.83,us,2014-04-08 01:43:19+00:00,"72km E of Amatignak Island, Alaska",earthquake
usc000mqlm,2014-01-31 21:56:44.320,-4.8800,153.8434,112.66,4.3,mb,NaN,199.0,1.808,0.79,us,2014-04-08 01:43:19+00:00,"100km ESE of Taron, Papua New Guinea",earthquake
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
usc000t6yh,2014-12-01 02:56:07.950,21.2031,143.5484,11.05,4.4,mb,NaN,107.0,5.996,0.87,us,2015-02-24 00:35:14.040000+00:00,"158km WNW of Farallon de Pajaros, Northern Mar...",earthquake
usc000t6y2,2014-12-01 01:50:23.380,-7.8798,106.4275,52.10,4.3,mb,NaN,119.0,1.412,1.50,us,2015-02-24 00:35:14.040000+00:00,"57km SSW of Cibungur, Indonesia",earthquake
usc000t6y1,2014-12-01 01:04:17.890,7.1429,126.8844,176.67,4.3,mb,NaN,134.0,1.297,0.87,us,2015-02-24 00:35:14.040000+00:00,"37km ESE of Santiago, Philippines",earthquake
usb000t1gp,2014-12-01 00:40:02.720,37.2096,71.9458,95.57,4.2,mb,NaN,125.0,1.097,0.91,us,2015-02-24 00:35:14.040000+00:00,"11km ESE of Roshtqal'a, Tajikistan",earthquake
usc000t6yn,2014-12-01 00:24:33.140,-24.6340,-179.6018,470.86,4.5,mb,NaN,131.0,10.547,0.74,us,2015-02-24 00:35:14.040000+00:00,South of the Fiji Islands,earthquake

### 9) Analice la distribución de las magnitudes del terremoto en la distribución filtrada
Haga un histograma del conteo del terremoto versus la magnitud. Asegúrese de usar una escala logarítmica.

### 10) Visualice la ubicación de los terremotos haciendo un diagrama de dispersión de su latitud y longitud.

#### Usa los datos filtrados. Coloréalo por magnitud.



Ej. plt.scatter(x, y, s=s, c=c, cmap=plt.cm.Oranges)

Con s y c podemos modificar el tamaño y el color respectivamente. Para el color, a cada valor numérico se le asigna un color a través de un mapa de colores; ese mapa se puede cambiar con el argumento cmap. Esa correspondencia se puede visualizar llamando a la función colorbar.

```

N = 100
x = np.random.randn(N)
y = np.random.randn(N)
s = 50 + 50 * np.random.randn(N)
c = np.random.randn(N)

plt.scatter(x, y, s=s, c=c, cmap=plt.cm.Blues)
plt.colorbar()

```
Ref. adicional para colores: https://github.com/lsantiago/PythonBasico/raw/d36d9571a1ff6a2df8364a9055f71d70eddd9151/NumpyMatplotlib/plot_colormaps.png

### 11) Haz lo mismo para la profundidad